<template name="adminNavbar">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-shrink navbar-inverse" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="{{pathFor 'home'}}img/ertb-logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{pathFor 'admin.files'}}">Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{pathFor 'admin.messages'}}">Messages</a>
                    </li>
<!--
                    <li class="nav-item">
                        <button id='signout' class="btn-link nav-link">Sign out</button>
                    </li>
-->
                </ul>
            </div>
        </div>
    </nav>
</template>
