<template name="adminNavbar">
    <nav class="admin-navbar navbar fixed-top navbar-toggleable-md navbar-inverse" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="{{pathFor '/'}}img/ertb-logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{pathFor 'admin.members'}}">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{pathFor 'admin.files'}}">Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{pathFor 'admin.links'}}">Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{pathFor 'admin.messages'}}">Messages</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>