.file .filename {
  width: 100%;
  max-width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: auto;
  font-family: sans-serif;
}

.file .download, .file .download:hover {
  color: #0275d8 !important;
}

.file {
  margin-bottom: 5px;
}
