<template name="manageLink">
  <div class="manageLink">
    {{#if isDeleting}}
      {{> manageLink_deleting linkText=linkText url=url link=this}}
    {{else}}
      {{> manageLink_showing linkText=linkText url=url link=this}}
    {{/if}}
    <span class="added">Added {{timeAgo added}}</span>
  </div>
</template>

<!-- the templates _delete and _showing are used to initialize tooltips -->
<template name="manageLink_deleting">
  <div class="alert alert-warning"> <i class="fa fa-spinner fa-pulse fa-fw"></i> Deleting {{linkText}}
    <a href="#" class="undo-delete close" data-toggle="tooltip" data-placement="top" title="Undo"><i class="fa fa-undo"></i></a>
  </div>
</template>

<template name="manageLink_showing">
  <div class="input-group">
    <span class="input-group-prepend">
      <a class="download btn btn-outline-secondary" href="{{url}}" alt="Link" target="_blank" data-toggle="tooltip" data-placement="top" title="Link"><i class="fa fa-link"></i></a>
      <button class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Move to Top"><i class="fa fa-arrow-circle-up"></i></button>
    </span>

    <input id="linkText" type="text" class="form-control" value="{{linkText}}">
    <input id="url" type="url" class="form-control" value="{{url}}">

    <span class="input-group-append">
      {{> manageLink_linktag link=link}}
      <button class="delete btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times-circle"></i></button>
    </span>
  </div>
</template>

<template name="manageLink_linktag">
  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedTag}}</button>
  <div class="dropdown-menu">
    {{#each tag in tags}}
      <a class="dropdown-item {{isSelected tag.value}}" data-value="{{tag.value}}" href="#">{{tag.name}}</a>
    {{/each}}
<!--
    <a class="dropdown-item {{isSelected 'agenda'}}" data-value="agenda" href="#">Agenda</a>
    <a class="dropdown-item {{isSelected 'reports'}}" data-value="reports" href="#">Reports</a>
    <a class="dropdown-item {{isSelected 'minutes'}}" data-value="minutes" href="#">Minutes</a>
    <a class="dropdown-item {{isSelected 'financials'}}" data-value="financials" href="#">Financials</a>
-->
  </div>
</template>
