.manageFile {
  margin-bottom: 5px;
}

.manageFile .input-group-addon a {
  color: #0275d8;
}

.manageFile img {
  height: 40px;
}

.manageFile .dropdown-menu {
  font-family: sans-serif
}

.manageFile .dropdown-menu .selected {
  color: white;
  background-color: #0275d8;
}

.manageFile .added {
  font-size: smaller;
  font-style: italic;
  color: #999;
}

.manageFile .delete button:hover {
  color: #e12b38;
}

.manageFile .alert {
  padding: 6px 12px;
  margin: 0px 0px;
  font-family: sans-serif;
}
.manageFile .alert .close {
  padding: 10px;
  margin: -7px;
  font-size: 1rem;
}
