<template name="newLink">
  <div class="newLink-area">
    <form id="newLink">
      <div class="row">
        <div class="col-12 form-group">
          <div class="input-group stacked-input">
            <input class="form-control" type="text" placeholder="Link Text" id="linkText">
            <input class="form-control" type="url" placeholder="URL" id="url">
            <span class="input-group-btn"><button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Add Link"><i class="fa fa-plus"></i></button></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
