<template name="newMember">
  <div class="newMember-area">
    <form id="newMember">
      <div class="row">
        <div class="col-12 form-group">
          <div class="input-group stacked-input">
            <input class="form-control" type="text" placeholder="Name" id="name">
            <input class="form-control" type="text" placeholder="Title" id="title">
            <input class="form-control" type="text" placeholder="Details" id="details">
            <span class="input-group-append">
              <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Add Member"><i class="fa fa-plus"></i></button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
