# use https://console.cloud.google.com/apis/dashboard to configure a Google API client ID
# then configure your OAuth Consent Screen at https://console.cloud.google.com/apis/credentials/consent
VITE_GOOLGLE_API_CLIENT_ID=
