# use https://console.cloud.google.com/apis/dashboard to configure a Google API client ID
# then configure your OAuth Consent Screen at https://console.cloud.google.com/apis/credentials/consent
VITE_GOOGLE_API_CLIENT_ID=
# the last git commit
# set to `git rev-parse --short HEAD`
VITE_GIT_COMMIT=
