PORT=3001

#-------------- User authorization
# comma-separated list of emails to have 'admin' role upon first login (role in db.users overrides this)
ADMIN_EMAILS=

# the 'iss' and 'aud' for self generated access_tokens (optional)
#JWT_ISSUER=
#JWT_AUDIENCE=

# the token expiration and key rotation for self generated web tokens, default for both is '1 day'
#JWT_EXPIRATION_TIME=
#JWK_ROTATION_TIME=

#-------------- Database
# mongodb on localhost (see docker-compose.yaml)
# for production see https://www.mongodb.com/docs/drivers/node/current/quick-start/create-a-connection-string/
MONGO_URL=mongodb://user:pass@localhost:27017/db

#-------------- S3 Storage of downloadable files
# minio on localhost (see docker-compose.yaml)
# for production see https://docs.aws.amazon.com/AmazonS3/latest/userguide/creating-bucket.html
# the bucket needs public read access for download links to work
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=ertb-org
S3_REGION=
