@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

/* CSS declarations go here */

.masthead {
  height: 100vh;
}

input.form-control::-webkit-input-placeholder { color: #aaa; }
input.form-control:-moz-placeholder { color: #aaa; }
input.form-control::-moz-placeholder { color: #aaa; }
input.form-control:-ms-input-placeholder { color: #aaa; }

p a, .alert a {
  color: #0275d8;
}